src/main/mule/foodnsavings.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="foodnsavingsFlow" doc:id="fbecc5f2-6de9-4d53-a025-e207247c5bce" >
		<jms:listener doc:name="Listener" doc:id="56705494-5a9b-4de0-9d52-27e72f39d9a0" config-ref="JMS_Config" destination="${partner1.queue}">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
			<jms:response >
				<jms:properties ><![CDATA[#["jmsStatus" : vars.jmsStatus]]]></jms:properties>
			</jms:response>
		</jms:listener>
		<db:bulk-insert doc:name="Bulk insert" doc:id="525d8208-f4ac-4d22-95ad-d431eaeb5f9c" config-ref="Partner1_Database_Configuration">
			<db:sql ><![CDATA[INSERT INTO Giftcards(number, balance, sourceID,createdOn) VALUES (:number, :balance, :sourceID,:createdOn)]]></db:sql>
		</db:bulk-insert>
		<set-variable value="Success" doc:name="jmsStatus" doc:id="72e658fb-6fcd-45a5-bc3e-aaca844c4bfc" variableName="jmsStatus"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5efec301-180f-4113-aa15-0aa2cbd826c9" type="ANY">
				<set-variable value="Failure" doc:name="jmsStatus" doc:id="e7c729e2-746c-46db-a12e-48ded83e5d64" variableName="jmsStatus"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
