src/main/mule/foodnsavings.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="foodnsavingsFlow" doc:id="fbecc5f2-6de9-4d53-a025-e207247c5bce" >
		<db:bulk-insert doc:name="Bulk insert" doc:id="525d8208-f4ac-4d22-95ad-d431eaeb5f9c" config-ref="Partner1_Database_Configuration">
			<db:sql ><![CDATA[INSERT INTO Giftcards(number, balance, sourceID,createdOn) VALUES (:number, :balance, :sourceID,:createdOn)]]></db:sql>
		</db:bulk-insert>
		<db:select doc:name="Select" doc:id="933dabda-98ae-4d40-b469-8e0e7f51f8c4" config-ref="Partner1_Database_Configuration">
			<db:sql ><![CDATA[SELECT * FROM Giftcards]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="dbbf4362-685b-4dba-a2e2-b9f6e3140980" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fff4e3cc-f85d-431f-9daa-3e2d57aff292" message="#[payload]"/>
	</flow>
</mule>
